.section-title {
  text-align: center;
  margin-bottom: 35px;
}

.section-title h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;
}

/* ! Blog Page */
.blog-page {
  margin-top: 40px;
}
